<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API List</key>
	<dict>
		<key>gpa</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/gpa</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>schoolbus</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/schoolbus</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>libraryRenew</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/renew</string>
			<key>Param</key>
			<array>
				<string>barcode</string>
				<string>uuid</string>
			</array>
		</dict>
		<key>library</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/library</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>searchBook</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/search</string>
			<key>Param</key>
			<array>
				<string>book</string>
				<string>uuid</string>
			</array>
		</dict>
		<key>lectureNotice</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/lecturenotice</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>lecture</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/lecture</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>phylab</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/phylab</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>cardDetail</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/card</string>
			<key>Param</key>
			<array>
				<string>timedelta</string>
				<string>uuid</string>
			</array>
		</dict>
		<key>card</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/card</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>nic</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/nic</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>srtp</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/srtp</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>exam</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/exam</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>jwc</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/jwc</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>curriculum</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/curriculum</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>pe</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/pe</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>running</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/pc</string>
			<key>Param</key>
			<array>
				<string>uuid</string>
			</array>
		</dict>
		<key>emptyRoom</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/emptyroom</string>
			<key>Param</key>
			<array>
				<string>arg1</string>
				<string>arg2</string>
				<string>arg3</string>
				<string>arg4</string>
				<string>arg5</string>
				<string>uuid</string>
			</array>
		</dict>
		<key>simsimi</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/api/simsimi</string>
			<key>Param</key>
			<array>
				<string>msg</string>
				<string>uuid</string>
			</array>
		</dict>
		<key>getStudentNum</key>
		<dict>
			<key>URL</key>
			<string>http://xk.urp.seu.edu.cn/jw_service/service/stuCurriculum.action</string>
			<key>Param</key>
			<array>
				<string>queryStudentId</string>
			</array>
		</dict>
		<key>userLogin</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/uc/auth</string>
			<key>Param</key>
			<array>
				<string>user</string>
				<string>password</string>
				<string>appid</string>
			</array>
		</dict>
		<key>userUpdate</key>
		<dict>
			<key>URL</key>
			<string>http://115.28.27.150/uc/update</string>
			<key>Param</key>
			<array>
				<string>cardnum</string>
				<string>password</string>
				<string>number</string>
				<string>pe_password</string>
				<string>lib_username</string>
				<string>lib_password</string>
				<string>card_query_password</string>
				<string>uuid</string>
			</array>
		</dict>
		<key>regToken</key>
		<dict>
			<key>URL</key>
			<string>http://121.42.203.118:8080/apn/reg</string>
			<key>Param</key>
			<array>
				<string>token</string>
			</array>
		</dict>
		<key>removeToken</key>
		<dict>
			<key>URL</key>
			<string>http://121.42.203.118:8080/apn/remove</string>
			<key>Param</key>
			<array>
				<string>token</string>
			</array>
		</dict>
	</dict>
	<key>UpdateURL</key>
	<string>http://121.42.203.118:8080/update</string>
	<key>IndexURL</key>
	<string>http://115.28.27.150</string>
	<key>Version</key>
	<string>3.4</string>
</dict>
</plist>
